<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if files %}
        <h1>Compressed file</h1>
        {% for file in files %}
        {% ifequal "zip" file.name|slice:"-3:"%}
            <div>
                <p>file name: {{file.name}}</p>
                <a href="{{file.files.url}}">Download it</a>
            </div>
        {% endifequal %}
        {% endfor %}
        <h1>Uncompressed file</h1>
        {% for file in files %}
        {% ifnotequal "zip" file.name|slice:"-3:"%}
            <div>
                <p>file name: {{file.name}}</p>
                <a href="{% url 'compress_file' file.id %}">Compress it</a>
            </div>
        {% endifnotequal %}
        {% endfor %}
    {% endif %}

    <a href="{% url 'index' %}"><button>Back to home</button></a>
</body>
</html>