{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
{{uniqueId}}
<body>
    <h1 class="text-center">Upload file and compress it</h1>
    <div class="container">
    <form action="" method="post" enctype="multipart/form-data" id="compress-form" class="form-group">
    {% csrf_token %}
        
        {% comment %} <label for="file-to-compress">File name</label>
        <input type="text" name="name" id="" class="form-control"> {% endcomment %}
        <label for="file-to-compress">File to compress</label>
        <input type="file" name="files" id="" class="form-control">
        <br><br><br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div class="px-4 mb-4 progressbar" style="text-align: left;" hidden>
						<label class="mb-1 status">Compressing...</label>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
								aria-valuemax="100" style="width:0%">
								%
							</div>
						</div>
					</div>
					<div class="px-4 mb-4">
						<div id="result">

						</div>
					</div>

    {% if original_file %}
    <p>ada kok file-nya</p>
    <img src="{{original_file}}" alt="">
        {{original_file}}
    {% endif %}

    <a href="{% url 'all_files' %}" class="btn btn-dark">See all files</a>
    </div>

    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script>
        var uniqueId = "{{ uniqueId }}"
    </script>
    <script src="{% static 'js/stomp.min.js' %}"></script>
    <script src="{% static 'js/stomp.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>

    
</body>
</html>